// Breakpoint Definitions
$breakpoint-mobile-large: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-wide: 1280px;
$breakpoint-ultra-wide: 1440px;

// Specific Mixins
@mixin mq-mobile-large-up {
  @media (min-width: #{$breakpoint-mobile-large}) {
    @content;
  }
}

@mixin mq-tablet-up {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin mq-desktop-up {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin mq-desktop-wide-up {
  @media (min-width: #{$breakpoint-desktop-wide}) {
    @content;
  }
}

@mixin mq-ultra-wide-up {
  @media (min-width: #{$breakpoint-ultra-wide}) {
    @content;
  }
}