@import 'https://fonts.googleapis.com/css2?family=Reddit+Sans:ital@0;1&display=swap';
@import './reset.css';
@import './tokens.css';

@layer base {
  html,
  body {
    overscroll-behavior: none;
    font-family: "Reddit Sans", sans-serif;
  }
}