
.Progress-bar__root {
  width: 200px;
  height: 20px;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  border-radius: var(--radius-full);
}

.Progress-bar__root__track {
  display: block;
  width: 100%;
  height: 100%;
  overflow: clip;
  background-color: var(--color-surface);
  border-radius: var(--radius-full);
  box-shadow: inset 0 0 0 1px var(--color-primary);
}

.Progress-bar__root__track__range {
  height: 100%;
  background-color: var(--color-primary);
  border-radius: 0 var(--radius-full) var(--radius-full) 0;
}
